@import '~antd/dist/antd.css';

.Main {
  text-align: center;
}

p {
  text-align: left;
}

.orange {
  background-color: orange;
}

.aside-tag {
  display: inline-flex;
  //background-color: red;
}

/*#p5>[anchorOffset=52]~#p5>[anchorOffset=70] {
  background-color: red;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Main-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.blue {
  background-color: #40C4FF;
}

.pink {
  background-color: #FF4081;
}

.yellow {
  background-color: #FFFF00;
}

.green {
  background-color: #B2FF59;
}

.purple {
  background-color: #E040FB;
}
